.main {
    width: 100vw;
    height: fit-content;
    display: flex;
    padding: 20px 4%;
}

.filter {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid rgba(112, 128, 144, 0.442);
    padding: 1rem;
}

.results {
    width: 70%;
    display: grid;
    padding: 0 5px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border: 1px solid rgba(112, 128, 144, 0.442);
    padding: 1rem;
    border-left: none;
}
.resultCard {
    height: fit-content;
    padding: 5px;
    border: 1px solid rgba(14, 4, 5, 0.2);
    border-radius: 4px;
}
.imageDiv img {
    width: 100%;
}

.category h4 {
    margin-left: 10px;
    margin-bottom: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.705);
}
.buttonDiv button {
    border: 1px solid grey;
    outline: none;
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}
.location h4 {
    margin-left: 10px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.705);
}

.location input {
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin-bottom: 0.5rem;
}
.slider {
    display: inline-block;
    margin: 0 auto;
}
.price h4 {
    margin-left: 10px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.705);
}
.submitDiv {
    margin-top: 1rem;
}
.submitDiv button {
    width: 90%;
    padding: 1rem;
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 500;
    background-color: #002f34;
    color: white;
}
