@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.mainDiv{
    width: 100vw;
    position: relative;
    height: 100vh;
}
.colouredDiv{
    width: 100vw;
    height: 90vh;
    background-color: #4D8495;
    padding: 4rem;
    padding-top: 3rem;
}
.colouredDiv h1{
    font-size: 85px;
    color: #f6f9f5;
    margin: 0;
    line-height: 0.9;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}
.colouredDiv p{
    color: #f6f9f5;
    margin-top: 1rem;
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
.dogImage{
    position: absolute;
    top: 11rem;
    right: 0;
    width: 930px;
}
